**/**/.zhistory
**/**/.zsh_history
**/id_*
**/id_*.pub
**/.ssh/*
!**/.ssh/config

# Specific files
fedora/zsh/bin/nps_*.sh
fedora/zsh/bin/pyNPU.py
fedora/zsh/bin/t7z

# GPG
# Ignore all files and directories within ~/.gnupg
linux/gpg/.gnupg/*

# But track gpg.conf and gpg-agent.conf
!linux/gpg/.gnupg/gpg.conf
!linux/gpg/.gnupg/gpg-agent.conf

# VSCode
/.vscode
/.vscode/exports-autocomplete-cache/
linux/vscode/.vscode/argv.json
**/vscode/.vscode-server/bin/*
**/vscode/.vscode-server/data/*
**/vscode/.vscode-server/extensions/
!**/vscode/.vscode-server/extensions/extensions.json
!**/vscode/.vscode-server/data/Machine/*
!**/vscode/.vscode-server/data/User/*
**/vscode/.vscode/extensions/

# Tentative adjustments due to a symlink bug
.dotfiles/
.dotfiles

# Temporary files related to dotfiles setup
.currentdir
