**/**/.zhistory
**/**/.zsh_history
**/id_*
**/id_*.pub
**/.ssh/*
!**/.ssh/config

# Specific files
fedora/zsh/bin/nps_*.sh
fedora/zsh/bin/pyNPU.py
fedora/zsh/bin/t7z

# VSCode
/.vscode
/.vscode/exports-autocomplete-cache/
**/vscode/.vscode-server/bin/*
**/vscode/.vscode-server/data/CachedProfilesData/*
**/vscode/.vscode-server/data/logs/*
**/vscode/.vscode-server/data/machineid
**/vscode/.vscode-server/data/User/History/*
**/vscode/.vscode-server/data/User/workspaceStorage/*
**/vscode/.vscode-server/data/CachedExtensionVSIXs/*
**/vscode/.vscode-server/extensions/
!**/vscode/.vscode-server/data/Machine/*
!**/vscode/.vscode-server/data/User/*
