/.vscode
**/**/.zhistory
**/**/.zsh_history
**/id_*
**/id_*.pub
**/.ssh/*
!**/.ssh/config

# Specific files
fedora/zsh/bin/nps_*.sh
fedora/zsh/bin/pyNPU.py
fedora/zsh/bin/t7z
**/.vscode/exports-autocomplete-cache/
**/zsh/bin/huawei-headphone
**/zsh/bin/huawei-speaker
